{
  "queue": [
    {
      "type": "blog",
      "file": "example-article.md",
      "heroImage": "hero-example-article.webp"
    },
    {
      "type": "service",
      "file": "example-service.astro"
    }
  ]
}