---
interface Props {
  name: string;
  bio?: string;
}

const { 
  name, 
  bio = 'Веб-разработчик с 15+ лет опыта. Создаю сайты на MODX, занимаюсь SEO-продвижением.'
} = Astro.props;

const initials = name.split(' ').map(n => n[0]).join('').slice(0, 2);
---

<div class="author-box">
  <div class="author-avatar">
    {initials}
  </div>
  <div class="author-info">
    <div class="author-name">{name}</div>
    <p class="author-bio">{bio}</p>
  </div>
</div>
