---
interface Props {
  name: string;
  bio?: string;
  avatar?: string;
}

const { 
  name, 
  bio = 'Веб-разработчик с 15+ лет опыта. Создаю сайты на MODX, занимаюсь SEO-продвижением.',
  avatar = '/images/anton-vetrov.jpg'
} = Astro.props;
---

<div class="author-box">
  <img src={avatar} alt={name} class="author-avatar" />
  <div>
    <div class="author-name">{name}</div>
    <div class="author-bio">{bio}</div>
  </div>
</div>
